html {
    scroll-behavior: smooth;
}
a:hover, a:active {
    color: #214b5d;
}
.btn{
    font-weight: bold;
}
.navbar-fixed-top {
    top: calc(100vh - 60px);
}
.nav_line li a:before{
    background: rgb(203, 52, 43) !important;
}

header nav.navbar .navbar-nav > li > a:hover, nav.navbar.bootsnav ul.nav > li > a:hover, .header-search-form:hover{

    color: rgb(203, 52, 43);
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}


/*header nav.navbar.white-link .navbar-nav > li.active > a, nav.navbar.bootsnav.white-link ul.nav > li.active > a, header nav.navbar.bootsnav ul.nav.white-link > li.active > a, header.header-appear nav.header-dark-transparent .navbar-nav > li.active > a, header.header-appear nav.header-dark .navbar-nav > li.active > a, header.sticky nav.header-dark .navbar-nav > li.active > a, header.sticky nav.header-dark-transparent .navbar-nav > li.active > a, header.sticky nav.navbar.bootsnav.header-dark-transparent.white-link .navbar-nav > li.active > a { color: rgb(203, 52, 43);background: transparent;}*/
header.header-appear nav.header-light,header.sticky nav.navbar-fixed-top.header-light,header.sticky nav.navbar-scroll-fixed-top.header-light {
    border-top: 3px solid rgb(203, 52, 43);
}
header a.logo img {
    max-width: 130px;
}
section {
    padding: 80px 0;
    overflow: hidden;
}
.border-bottom{ border-bottom: 1px solid lightgray;}
.border-top{ border-top: 1px solid lightgray;}
.border-left{ border-left: 1px solid lightgray;}
.border-right{ border-right: 1px solid lightgray;}

.effect-moveleft {
    background: rgb(98, 183, 62);
}
.showMenuButton-two {
    top: calc(100vh - 40px);
}
.scroll-top-arrow, .scroll-top-arrow:focus {
    top: 30px;
}

/*Landing button*/
button {
    background: transparent;
    color: #fff;
    border: 0 solid #fff;
    border-radius: 50px;
    padding: 0;
    font: 24px "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
}

.button-jittery button {
    animation: jittery 4s infinite;
}
/*.button-jittery button:hover {*/
/*    animation: heartbeat 0.2s infinite;*/
/*}*/
@keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}
@keyframes heartbeat {
    50% {
        transform: scale(1.1);
    }
}

/*Background*/
.about-cover{
    background: url(../images/cover-about.jpg) center;
    background-size: cover;
}
.service-cover{
    background: url(../images/cover-service.jpg) center;
    background-size: cover;
}
.service-background{
    background: url(../images/service-background.png) center;
    background-size: cover;
}
.service-background-2{
    background: url(../images/service-background-2.png) center;
    background-size: cover;
}
.project-cover{
    background: url(../images/cover-project.jpg) center;
    background-size: cover;
}
.product-cover{
    background: url(../images/cover-product.jpg) center;
    background-size: cover;
}
.blog-cover{
    background: url(../images/cover-blog.jpg) bottom;
    background-size: cover;
}
.contact-cover{
    background: url(../images/cover-contact.jpg) center;
    background-size: cover;
}

/*Colors*/
.process-wrapp i,
.address-item i{
    background: -webkit-linear-gradient(#df2919, #751614);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.process-wrapp li:hover i,
.address-item i:hover{
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.text-red-gradient {
    background: -webkit-linear-gradient(#df2919, #751614);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-red-gradient{
    background-image: linear-gradient(#df2919, #751614);
}
.text-green-gradient {
    background: -webkit-linear-gradient(#62b73e, #435b24);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-green-gradient{
    background-image: linear-gradient(#62b73e, #435b24);
}
.text-yellow-gradient {
    background: -webkit-linear-gradient(#e3de00, #8d8a18);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-yellow-gradient{
    background-image: linear-gradient(#e3de00, #8d8a18);
}
.text-blue-gradient {
    background: -webkit-linear-gradient(#5ca9ca, #214b5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-blue-gradient{
    background-image: linear-gradient(#5ca9ca, #214b5d);

}

.counter-icon{
    line-height: 115px;
}

#particles-js{
    background-image: linear-gradient(#df2919, #751614);
}
.owl-client .owl-dot.active span{
    background: #62b73e !important;
}
.play-icon {

    background: rgb(98, 183, 62);
    box-shadow: 0 0 0 rgba(98, 183, 62, 0.4);
    line-height: 62px;
}

.play-hvr:hover {
    border: 4px solid rgb(98, 183, 62);
}
.blog-pagination a,
.footer-social a{
    line-height: 28px;
}

.scroll-top-arrow, .scroll-top-arrow:focus {
    font-size: 40px;
    height: 45px;
    width: 45px;
    right: 25px;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-bottom: 1px solid #6cbd52;
}

.portfolio .item-img-overlay .viewProject {
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #5a5a5a;
}
.portfolio .item-img-overlay .liveProject {
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    right: 60px;
    color: #5a5a5a;
}

#foot{
    border-bottom: 3px solid rgb(203, 52, 43);
    background-color: #214b5d;
}
@media (max-width: 1024px){
    .navbar-fixed-top {
        top: calc(100vh - 54px);
    }
}
@media (max-width: 768px){

}

@media screen and (max-width: 768px) {
    .showMenuButton-two {
        top: calc(100vh - 44px) !important;
    }
    #particles-js {
        height: 400px;
    }
}
@media screen and (max-width: 991px) {
    .showMenuButton-two {
        top: calc(100vh - 42px) !important;
    }
}
@media (max-width: 767px) {
    .showMenuButton-two {
        position: absolute !important;
        bottom: 0px !important;
    }
}
