<!-- footer -->
<footer class="bg contact-cover padding-20px-tb">
    <div class="container">
        <div class="row">
<!--            <div class="col-sm-12 padding-10px-bottom">-->
<!--               -->
<!--            </div>-->
            <div class="col-sm-4">
                <div class="text-small text-uppercase footer-nav font-weight-600 text-white" style="text-align: left">
                    <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:info@way2up.am" target="_blank">info@way2up.am</a></p>
                    <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:career@way2up.am" target="_blank">career@way2up.am</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center footer-social text-right xs-text-center xs-margin-10px-top">
                    <a href="https://www.facebook.com/way2up.am/" target="_blank" class="facebook-text-hvr"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/way2up/" target="_blank" class="linkedin-text-hvr"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="skype:way2up.armenia" target="_blank" class="skype-text-hvr"><i class="fa fa-skype" aria-hidden="true"></i></a>
                    <a href="mailto:way2up.armenia@gmail.com" target="_blank" class="google-text-hvr"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
                <div class="text-center text-small text-white xs-text-center xs-margin-15px-bottom"> © <span class="year"></span>
                    <a href="/" class="text-white font-weight-600">WAY2UP</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-small text-uppercase footer-nav font-weight-600 text-white" style="text-align: right">
                    <p><i class="fa fa-phone mr-3"></i> <a href="tel:+37455575994">Yerevan, Armenia + 374 55 57 59 94</a></p>
                    <p><i class="fa fa-phone mr-3"></i> <a href="tel:+491627935547">Freiburg, Germany + 49 162 793 55 47</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end-->

<!-- start scroll to top -->
<a class="scroll-top-arrow bg-red-gradient" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
<!-- end scroll to top  -->


<!-- demos panel -->
<!--<div href="#demo-panel" title="Search" class="header-search-form">-->
<!--    <span class="demo-toggle">-->
<!--        <span class="demo-toggle-text">Interesting Thing</span>-->
<!--        <span class="demo-toggle-icon">-->
<!--            <i class="fa fa-cog" aria-hidden="true"></i>-->
<!--        </span>-->
<!--    </span>-->
<!--</div>-->
<!--<div id="demo-panel" class="search-form-result mfp-hide">-->
<!--    <div class="demo-body no-transition">-->
<!--        <h5 class="text-white font-weight-700 padding-10px-bottom">CHOOSE A DEMO</h5>-->
<!--        <div class="row no-transition">-->
<!--            &lt;!&ndash; filter links &ndash;&gt;-->
<!--            <div class="filtering-demo col-sm-12 text-center margin-20px-bottom">-->
<!--                <span data-filter="*" class="active">All</span>-->
<!--                <span data-filter=".multipage">Multi Paga</span>-->
<!--                <span data-filter=".onepage">One Page</span>-->
<!--            </div>-->
<!--            <div class="clearfix"></div>-->

<!--            <div class="gallery-demo width-100">-->
<!--                <a href="index.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Standard Version</div>-->
<!--                </a>-->
<!--                <a href="index2.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index2.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Gym Version</div>-->
<!--                </a>-->
<!--                <a href="index.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index20.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Infinity Version</div>-->
<!--                </a>-->

<!--                <a href="index3.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index3.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Construction Version</div>-->
<!--                </a>-->
<!--                <a href="index20.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index21.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Multi Version</div>-->
<!--                </a>-->
<!--                <a href="index6.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index6.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Video Background</div>-->
<!--                </a>-->

<!--                <a href="index16.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index16.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Parallax Version</div>-->
<!--                </a>-->
<!--                <a href="index18.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index18.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Food Version</div>-->
<!--                </a>-->
<!--                <a href="index17.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index17.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Portfolio Version</div>-->
<!--                </a>-->

<!--                <a href="index22.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index24.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Finance Version</div>-->
<!--                </a>-->
<!--                <a href="index23.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index23.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Photography Version</div>-->
<!--                </a>-->
<!--                <a href="index21.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index22.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Inflex Version</div>-->
<!--                </a>-->

<!--                <a href="index7.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index7.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Startup Version</div>-->
<!--                </a>-->
<!--                <a href="index8.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index8.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Innovative Version</div>-->
<!--                </a>-->
<!--                <a href="index9.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index9.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Studio Version</div>-->
<!--                </a>-->

<!--                <a href="index10.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index10.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Agency Version</div>-->
<!--                </a>-->
<!--                <a href="index11.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index11.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Creative Version</div>-->
<!--                </a>-->
<!--                <a href="index14.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index14.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Light Version</div>-->
<!--                </a>-->

<!--                <a href="index13.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index13.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Innovativ Agency Version</div>-->
<!--                </a>-->
<!--                <a href="index12.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index12.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Flat Version</div>-->
<!--                </a>-->
<!--                <a href="index15.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index15.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Classic Version</div>-->
<!--                </a>-->


<!--                <a href="index4.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index4.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Modern Version</div>-->
<!--                </a>-->
<!--                <a href="index5.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/index5.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Bottom Nav</div>-->
<!--                </a>-->

<!--                <a href="comingsoon.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/comingsoon.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Coming Soon</div>-->
<!--                </a>-->
<!--                <a href="error.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/error.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">404 Error</div>-->
<!--                </a>-->
<!--                <a href="standalone.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/standalone.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Standalone</div>-->
<!--                </a>-->

<!--                <a href="blogs.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/blog-left.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Blog Left</div>-->
<!--                </a>-->
<!--                <a href="blog.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/blog-details.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Blog Detail</div>-->
<!--                </a>-->
<!--                <a href="blog-right.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/blog-right.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Blog Right</div>-->
<!--                </a>-->

<!--                <a href="shop.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/shop.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Shop</div>-->
<!--                </a>-->
<!--                <a href="shop-detail.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/shop-details.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Shop Details</div>-->
<!--                </a>-->
<!--                <a href="shop-cart.html" target="_blank" class="col-sm-4 demo-item onepage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/shop-cart.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Shop Cart</div>-->
<!--                </a>-->

<!--                <a href="feature-page.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/feature.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Feature</div>-->
<!--                </a>-->
<!--                <a href="about.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/about.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">About</div>-->
<!--                </a>-->
<!--                <a href="work-page.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/work.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Work</div>-->
<!--                </a>-->

<!--                <a href="price-page.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/price.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Price</div>-->
<!--                </a>-->
<!--                <a href="blog-element.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/blog-element.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Blog Elements</div>-->
<!--                </a>-->
<!--                <a href="contact.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/contact.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Contact</div>-->
<!--                </a>-->
<!--                <a href="login.html" target="_blank" class="col-sm-4 demo-item multipage">-->
<!--                    <div class="demo-item-image">-->
<!--                        <img src="images/demo-images/login.jpg" alt="image">-->
<!--                    </div>-->
<!--                    <div class="text-large text-white margin-15px-tb font-weight-600">Login/Register</div>-->
<!--                </a>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- demos panel end -->
