<li><a href="./index.html" class="icon-home">Home</a></li>
<li><a href="./about.html" class="icon-about">About</a></li>
<li><a href="./services.html" class="icon-services">Services</a></li>
<li><a href="./projects.html" class="icon-work">Projects</a></li>
<li><a href="./projects.html?type=own" class="icon-pricing">Our Products</a></li>
<!--<li><a href="./career.html" class="icon-pricing">Career</a></li>-->
<li><a href="./blogs.html" class="icon-blog">Blog</a></li>
<li><a href="./contact.html" class="icon-contact">Contact</a></li>
