<li><a href="./index.html" class="text-uppercase">Home</a></li>
<li><a href="./about.html" class="text-uppercase">About</a></li>
<li><a href="./services.html" class="text-uppercase">Services</a></li>
<li><a href="./projects.html" class="text-uppercase">Projects</a></li>
<li><a href="./projects.html?type=own" class="text-uppercase">Our Products</a></li>
<!--<li><a href="./career.html" class="icon-pricing">Career</a></li>-->
<li><a href="./blogs.html" class="text-uppercase">Blog</a></li>
<li><a href="./contact.html" class="text-uppercase">Contact</a></li>
